@import "../../../styles/index";


.cookie_backdrop {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.cookie_section {
  position: fixed;
  bottom: 20%;
  z-index: 5;
  border-radius: 8px;
  background-color: $color-white;

  @media screen and (min-width: 768px) {
    bottom: 10%;
  }
}

.cookie_notification {
  @include flex-column-na;
  padding: 28px 16px 28px 16px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 52px 10px 15px;
  }
}

.info-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 21px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 37px;
  }
}

.cookie_notification-text {
  max-width: 358px;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    max-width: 400px;
    margin-bottom: 0;
    margin-right: 32px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 587px;
  }
}

.cookie_notification-text,
.cookie_privat-policy {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;

  color: $color-footer-bg;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.accept-btn {
  width: 196px;
  height: 56px;
  padding: 0;
  color: $full-white;
  background-color: $color-btn;
  border: transparent;
  border-radius: 8px;
  @include position-center-a;
  @include nunito-700-size-16;
  line-height: 1.37;
  text-decoration: none;
  transition: background-color 300ms linear, color 300ms linear;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    border-radius: 12px;
  }

  &:hover {
    background-color: $color-card;
    color: $color-btn;
  }
}

.close-btn {
  position: absolute;
  top: 28px;
  right: 10px;
  @include position-center-a;
  width: 24px;
  height: 24px;
  border: transparent;
  background-color: inherit;
  font-size: 30px;
  line-height: 1;

  @media screen and (min-width: 768px) {
    top: 10px;
  }
}
