@import "../../../styles/_index.scss";

.header_infobox {
  @include flex-column-na;
  gap: 24px;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 80px;
  }
}

.social_networks {
  @include position-center-na;
  gap: 20px;

  a {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    scale: 1;
    transition: box-shadow 300ms linear, scale 300ms linear;

    &:hover {
      scale: 1.1;
      box-shadow: 0 3.43693px 3.43693px #766e78;
    }
  }

  img {
    width: 32px;
    height: 32px;
  }
}

.socials_contacts {
  @include flex-column-na;
  gap: 24px;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }

  p {
    @include nunito-600-size-16;
    line-height: 19px;
    color: $color-blue;
    text-align: center;
  }

  &-link {
    gap: 8px;
    @include position-center-na;
  }

  img {
    width: 24px;
    height: 24px;
  }
}
