@import "../../../styles/index";

.header_infobox{
  margin-top: 18px;
  margin-bottom: 20px;
  width: 100%;
  @include flex-only;
  justify-content: space-between;
  .social_networks{
    @include flex-only;
    gap: 20px;

  }
  .socials_contacts{
    @include flex-only;
    gap: 19px;
    &-item{
      p{
        @include flex-only;
        gap: 6px;
        p{
          @include nunito-600-size-16;
          color: $color-blue;

        }
      }
    }
    @media screen and (max-width: 925px) {
      margin-top: 25px;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 925px) {
    flex-direction: column;
  }

}