@import "../../styles/_index.scss";

.support{
  h2 {
    @include nunito-700-size-40;
    @include position-center;
    color: $color-blue;
    @media screen and (max-width: 720px){
      @include nunito-600-size-32;
      line-height: 44px;
      text-align: center;
    }
  }
  &-container {
    @include position-center;
    gap: 25px;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    @media screen and (max-width: 1112px) {
      padding-bottom: 0;
    @include flex-column-a;
    }
  }
}
