@import "../../styles/_index.scss";

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: rgba(208, 190, 196, 0.5);
  ;
}

.modal_container {
    position: absolute;
    width: 390px;
    min-height: 836px;
    height: 100vh;
    z-index: 500;
    background-color: $color-btn;
    background-image: url('../../assets/kitten_modal_mobile.png');
    background-repeat: no-repeat;
    background-position: bottom 0px center;
   @media screen and (min-width: 768px) {
    background-image: url('../../assets/kitten_modal_contacts.png');
   }
   @media screen and (min-width: 1440px) {
    position: absolute;
    width: 630px;
    height: 514px;
    margin-top: 170px;
    border-radius: 18px;
   }    
}



.modal_btn_close {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor:pointer;
}
.modal_icon {
    width: 24px;
    height: 24px;
}


.modal_title {
    margin-top: 96px;
    text-align: center;
    @include nunito-600-size-32;
    line-height: 1.4;
    color: $color-white;
    @media screen and (min-width: 768px) {}
    @media screen and (min-width: 1440px) {
    margin-top: 90px;
    @include nunito-700-size-40;  
}
}

.modal_text {
    margin-top:32px;
    text-align: center;
    @include nunito-400-size-20;
    line-height: 1.5;
    color: $color-white;
    @media screen and (min-width: 768px) {
        
    }
    @media screen and (min-width: 1440px) {
        margin-top: 9px; 
    }
}
