@import "../../../styles/index";

.navbar {
  margin-top: 10px;
  @include flex-only;
  width: 100%;
  justify-content: space-between;


  &_wrapper {
    @include flex-only;
    align-items: center;
    gap: 48px;

    .navbar_links {
      @include flex-only;
      gap: 24px;
      @include nunito-700-size-18;

      a {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0;
          height: 1.5px;
          transition: width 0.35s;
          background-color: $color-blue;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      .active_link {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 1.5px;
          transition: width 0.35s;
          background-color: $color-blue;
        }
      }
    }
  }
}
