@import "../../../../styles/index";

.hero {
  background-color: $main-bg-color;
  max-width: 1280px;
  margin: 0 auto;
}

.main_bg {
  @include flex-column-a;
  max-width: 1420px;
  height: 552px;
  padding: 28px 0;
  background-image: url("../../../../assets/hero/hero-desktop.jpg");
  background-size: 1420px 552px;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 768px) {

    height: 626px;
    padding: 40px 0;
    background-image: url("../../../../assets/hero/hero-tablet.jpg");
    background-size: 720px 626px;
    justify-content: space-between;
  }
}

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  word-break: break-word;
  @include nunito-700-size-50;
  line-height: 1.36;
  height: 68px;
  color: $color-white;
  padding: 0 32px;

  @media screen and (max-width: 768px) {
    @include nunito-700-size-50;
    margin: 0 32px;
  }

  @media screen and (max-width: 390px) {
    @include nunito-700-size-40;
    margin: 0 17px;
  }
}
