@import "../../styles/_index.scss";

article {
  h2 {
    @include nunito-700-size-50;
    @include position-center;
    padding-top: 120px;
    line-height: 68px;
    text-align: center;
    color: $color-blue;
  }
}

.cats_cards-link {
    width: 235px;
    line-height: 33px;
    @include position-center-a;
    @include nunito-600-size-24;
    margin-bottom: 122px;
    margin-right: auto;
    margin-left: auto;
    color: $color-blue;
    text-transform: uppercase;
    border-bottom: 1.5px solid $color-blue;
  }
