@import "../../../../styles/_index.scss";

.alert-success, .alert-failure {
  @include position-center-a;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.formAdding{
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
  @include flex-column-a;
  &__wrapper{
    @include flex-column-a;
    label{
      @include nunito-400-size-14
    }
    input{
      width: 300px;
      height: 30px;
      border-radius: 10px;
      outline: none;
      background: none;
    }
    button{
      margin-top: 10px;
      background: $color-btn;
      color:$full-white;
      width: 300px;
      height: 30px;
      border-radius: 10px;
      transition: all 0.3s;
      cursor: pointer;
      &:hover{
        background:$color-btn-hover;
      }
    }
  }
}