$color-blue: #3D4756;
$color-white: #FEFE;
$color-border: #EDEDED;
$full-white: #FFFFFF;
$color-btn: #4B3542;
$color-card: #D0BEC4;
$color-card-bg: #FCFCFF;
$color-card-text: #4F5A69;
$color-border-card: #928F8F;
