@import "../../styles/_index.scss";

.flippable-card-container {
  width: 305px;
  height: 424px;
  perspective: 1000px;
}

.cat_card {
  cursor: url("../../assets/paw.svg") 2 2, pointer;
  color: $color-blue;
  background: $color-card-bg;
  border: 0.5px solid $color-card-outline-border;
  border-radius: 20px;
  position: relative;
  width: 305px;
  height: 424px;
  transform-style: preserve-3d;

  @media screen and (max-width: 720px) {
    max-width: 305px;
  }

  &-front {
    transform: rotateX(0deg);
  }

  &-front,
  &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
  }

  &-back {
    transform: rotateY(180deg);
    &__wrapper {
      @include flex-column-a;

      .cat_card-link {
        z-index: 999;
      }
    }
  }


  &-link {
    display: inline-block;

    @include nunito-700-size-16;
    line-height: 22px;
    cursor: pointer;
    margin: 26px auto 0 auto;
    width: 256px;
    height: 56px;
    color: $color-btn;
    border: 3px solid $color-btn;
    border-radius: 8px;
    text-align: center;
    transition: all 0.5s;
    background: none;
    pointer-events: auto;
    touch-action: manipulation;
    &:hover,
    &:active {
      background-color: $color-card;
    }

    &:focus {
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }
  }

  &-wrapper {
    padding-left: 16px;
  }

  &-name {
    padding-bottom: 4px;
    padding-top: 20px;
    @include nunito-600-size-24;
  }

  &-icon {
    object-fit: cover;
    border-radius: 20px;
    width: 305px;
    height: 295px;
  }

  &-description {
    padding-bottom: 4px;
    @include nunito-700-size-16;
    @include position-center-na;
    gap: 4px;

    img {
      height: 24px;
      width: 24px;
    }
  }

  &-trash {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }

  &-chipped {
    gap: 4px;
    @include nunito-700-size-16;
    @include position-center-na;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
