@import "../../../../styles/index";

.subscribe_form {
  @include flex-column-a;
  margin: 0 auto;
  padding: 104px 16px;
  @media screen and (min-width: 768px) {
    padding: 116px 24px;
  }
  @media screen and (min-width: 1280px) {
    padding: 120px 60px;
  }
  @media screen and (min-width: 1440px) {
    padding: 120px 168px 144px;
  }

  &-header {
    margin-bottom: 32px;
    text-align: center;
    @include nunito-600-size-32;
    color: $color-subscribe-header;
    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 20px;
      @include nunito-700-size-40;
      line-height: 1.4;
    }
  }

  &-text {
    line-height: 1.5;
    text-align: center;
    color: $color-card-text;
    @include nunito-400-size-18;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
      @include nunito-400-size-20;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }

  &-form {
    @include flex-only;
    flex-direction: column;
    width: 357px;
    @media screen and (max-width: 389px) {
      width: 90%;
    }
    @media screen and (min-width: 768px) {
      width: 637px;
    }
    @media screen and (min-width: 1280px) {
      width: 744px;
    }
  }

  &-wrapper {
    width: 100%;
    @include flex-column-a;
    gap: 16px;
    @media screen and (min-width: 768px) {
      position: relative;
      align-items: flex-start;
    }
  }

  &-input {
    width: 90%;
    height: 56px;
    padding-left: 12px;
    border-radius: 8px;
    outline: black;
    @include nunito-600-size-20;
    font-weight: 600;
    line-height: 120%;
    border-style: solid;
    border-color: $color-bg-focused;
    color: $color-blue;
    border-width: 1px;
    border-radius: 8px;
    @media screen and (min-width: 390px) {
      width: 357px;
    }
    @media screen and (min-width: 768px) {
      width: 512px;
    }

    &:focus {
      background: $color-bg-focused;
      border-color: $color-subscribe-btn;
    }
    &:hover {
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }
    &:active {
      outline: none;
      background: $full-white;
    }
  }

  &-button {
    width: 90%;
    border: 3px solid $color-btn;
    @include nunito-700-size-16;
    line-height: 147%;
    background: $full-white;
    height: 56px;
    border-radius: 8px;
    cursor: pointer;
    color: $color-btn;
    transition: background-color 300ms linear, color 300ms linear;
    @media screen and (min-width: 390px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 397px;
      width: 240px;
    }
    @media screen and (min-width: 1280px) {
      left: 504px;
    }

    &:hover {
      border: 3px solid $color-btn;
      background: $color-card;
      color: $color-btn;
    }

    &:active {
      border: 3px solid $color-btn;
      background: $color-card;
      color: $color-btn;
    }

    &:focus {
      background: $color-card;
      color: $color-btn;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }

    &:disabled {
      background: $color-placeholder;
      border: 3px solid $color-border;
      color: $color-input-form;
    }
  }
}

.email_error {
  @extend .subscribe_form-input;
  border-color: $color-error;
  color: $color-error;

  &:focus {
    border: 1px solid $color-error;
    background-color: $color-input-hover;
  }
}
.text_error {
  @include nunito-400-size-14;
  color: #df4242;
  margin-left: 12px;
  margin-top: 5px;
}
