@import "../../styles/_index.scss";

.main_wrapper {
  @include position-center-a;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 297px;
  font-weight: 600;
  background-color: $main-bg-color;
  gap: 68px;
}

.not-found_title {
  font-size: 234px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;

  color: $color-subscribe-btn;
}

.not-found_text {
  margin-top: 46px;
  margin-bottom: 46px;
  @include nunito-600-size-24;
  line-height: 1.37;
  color: $color-blue;
}

.to-main_link {
  @include position-center-a;
  @include inter-600-size-24;
  min-width: 365px;
  background-color: $color-subscribe-btn;
  border-radius: 12px;
  padding: 9.5px 115px;
  line-height: 1.47;
  color: $color-white;
  text-decoration: none;
  transition: background-color 300ms linear, color 300ms linear;
  cursor: pointer;
  &:hover {
    background-color: $color-card;
    color: $color-btn;
  }
}
