@import "../../styles/index";

.main_about {
  padding: 32px 0 80px;
  @include flex-column-a;
  gap: 80px;

  @media screen and (min-width: 768px) {
      padding: 40px 0 80px;  
    }

  @media screen and (min-width: 1280px) {
      padding: 100px 0 120px;
      gap: 120px;
    }
}
