@import "../../styles/_index.scss";

.donate-slider {
  display: none;
  height: 470px;
  max-width: 1280px;
  margin: 0 auto;

  &_left {
    max-width: 445px;
    padding: 36px;
    background-color: $color-white;
    border-radius: 20px 0 0 20px;
  }
}

.accordion-slider {
  width: 836px;
  margin: 0 auto;
  &_flex {
    @include flex-only;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    min-width: 100%;
    cursor: pointer;
  }

  &_item {
    flex: 1;
    @include flex-only;
    align-items: stretch;
    cursor: pointer;
    transition: all 0.35s ease;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $color-btn;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
    &:nth-child(2) {
      margin: 0 -20px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
    }

    &.active {
      flex: 3;
      margin: 0 -20px;
      border-radius: 0 20px 20px 0;

      &:nth-child(3) {
        margin: 0;
      }

      &::before {
        background-color: rgba(255, 255, 255, 0);
      }

      .accordion-slider_item-text {
        color: white;
      }
    }

    &-info {
      @include flex-only;
      align-items: end;
      justify-content: flex-end;
      width: 100%;
      padding: 24px;
    }

    &-text {
      @include nunito-400-size-24;
      line-height: 35px;
      transform: rotate(180deg);
      color: $color-blue;
      color: black;
      writing-mode: vertical-lr;
    }
  }
}

@media screen and (min-width: 1280px) {
  .donate-slider {
    display: flex;
  }
}
