@import "../../styles/_index.scss";

#donation {
  color: $full-white;
}

.modal {
  line-height: 33px;
  @include nunito-600-size-24;
  display: flex;
  position: absolute;
  width: 800px;
  min-height: 523px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .button-group {
    width: 332px;
    height: 42px;
    display: flex;
    margin: 0 auto;
  }

  .custom-button {
    @include nunito-700-size-16;
    border: 2px solid #4b3542;
    width: 166px;
    background-color: $full-white;
    color: $color-btn;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-btn;
      color: $full-white;
    }

    &.selected {
      background-color: $color-btn;
      color: $full-white;
    }
  }

  .donation__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: $color-btn;
    border-radius: 12px 0 0 12px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 308px;
      height: 486px;
    }

    &_inner {
      color: $color-blue;
      padding: 40px;
      background-color: $full-white;
      border-radius: 0 12px 12px 0;

      h4 {
        margin-bottom: 24px;
        text-align: center;
        width: 414px;
        height: 66px;
        white-space: break-spaces;
      }

      &-button {
        white-space: nowrap;
        color: $full-white;
      }
    }
  }
}

.right {
  border-radius: 0 8px 8px 0;
}

.left {
  border-radius: 8px 0 0 8px;
}
