@import "../../styles/_index.scss";

#donation {
  color: $full-white;
}
.box{
  display: flex;
  @media (max-width: 767px) {
   flex-direction: column-reverse;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    scrollbar-width: none;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.modal {
  line-height: 33px;
  @include nunito-600-size-24;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  min-height: 523px;
  top: 0;

  @media (max-width: 767px) {
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
   scrollbar-width: none;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .donation__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    background: $color-btn;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 308px;
      height: 486px;
    }

    &_inner {
      position: relative;
      max-width: 100%;
      color: $color-blue;
      padding: 40px 0;
      background-color: $full-white;

      &-button {
        white-space: nowrap;
        color: $full-white;
      }
      &-close{
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;

      }
    }
  }
}

@media screen and (min-width: 768px) {
  .modal {
    flex-direction: row;
    justify-content: center;

    .donation__container {
      padding-top: 0;
      border-radius: 0 0 0 12px;

      &_inner {
        max-width: 494px;
        padding: 40px;
        border-radius: 0 0 12px 0;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .donation__container {
      border-radius: 12px 0 0 12px;
      &_inner {
        max-width: 494px;
        border-radius: 0 12px 12px 0;
      }
    }
  }
}
