@import "../../styles/_index.scss";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  padding: 60px 80px;
  background-color: $color-footer-bg;
  color: $color-card-bg;
}

.footer_info_wrapper {
  display: flex;
}

.footer_logo {
  width: 197px;
  height: 82px;
  margin-bottom: 40px;
}

.footer_donation {
  width: 270px;
  height: 65px;
  background-color: $color-btn;
  border-radius: 12px;
  @include position-center-a;
  @include nunito-600-size-24;
  padding: 16px 40px;
  line-height: 1.37;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 300ms linear, color 300ms linear;

  cursor: pointer;

  &:hover {
    background-color: $color-btn-hover;
    color: $color-btn;
  }
}

.footer_address {
  margin-left: 163px;
}

.contacts_list {
  @include flex-column-a;
  gap: 15px;
}

.column_title {
  margin-bottom: 25px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.info_link {
  @include position-center-na;
  @include nunito-600-size-16;
  line-height: 1.37;
  margin-bottom: 15px;
}

.contacts_icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin: 0px 88px 0px 88px;
}

.footer_documents-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 96px;
}

.social_list {
  @include flex-column-a;
  gap: 20px;
}

.social_link {
  width: 48px;
  height: 48px;
}

.footer_copyrights {
  @include nunito-400-size-14;
  margin-top: 52px;
  line-height: 1.47;
}
