@import "../../styles/_index.scss";

.footer {
  background-color: $color-footer-bg;
  color: $color-card-bg;
}

.footer_container {
  max-width: 1440px;
  padding: 60px 80px;
  margin-left: auto;
  margin-right: auto;
}

.footer_info_wrapper {
  display: flex;
}

.footer_logo-link {
  display: inline-block;
  width: 197px;
  height: 82px;
  margin-bottom: 40px;
}

.footer_donation {
  width: 270px;
  height: 65px;
  background-color: $color-btn;
  border-radius: 12px;
  @include position-center-a;
  @include nunito-600-size-24;
  padding: 16px 40px;
  line-height: 1.37;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 300ms linear, color 300ms linear;

  cursor: pointer;

  &:hover {
    background-color: $color-btn-hover;
    color: $color-btn;
  }
}

.footer_address {
  margin-right: 69px;
}

.contacts_list {
  @include flex-column-a;
  gap: 15px;
}

.footer_link,
.contacts_title {
  @include nunito-700-size-18;
  margin-bottom: 25px;
  font-style: normal;
}

.footer_link {
  text-decoration: underline;
}

.info_link {
  @include position-center-na;
  @include nunito-600-size-16;
  line-height: 1.37;
  margin-bottom: 15px;
}

.contacts_icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin: 0px 69px 0px 163px;
}

.footer_documents-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 119px;
}

.social_list {
  @include flex-column-a;
  gap: 20px;
}

.social_link {
  width: 48px;
  height: 48px;
  box-shadow: transparent;
  transition: box-shadow 300ms linear, scale 300ms linear;

  &:hover {
    box-shadow: 0px 3.43693px 3.43693px #766e78;
    scale: 1.1;
  }
}

.footer_copyrights {
  @include nunito-400-size-14;
  margin-top: 52px;
  line-height: 1.47;
}
