@import "../../styles/_index.scss";

.footer {
  background-color: $color-footer-bg;
  color: $color-card-bg;
}

.footer_container {
  padding: 40px 15px;

  @media screen and (min-width: 768px) {
    padding: 16px 40px;
  }

  @media screen and (min-width: 1440px) {
    padding: 60px 80px;
  }
}

.footer_info_wrapper {
  @include flex-column-a;
  gap: 32px;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;

    gap: 40px 0;
    flex-direction: row;
    align-items: flex-start;

    .footer_info_wrapper:last-child {
      align-items: center;
    }
  }
}

.wrapper {
  @include flex-column-a;
  @media screen and (min-width: 768px) {
    align-items: baseline;
  }
}

.footer_logo-link,
.footer_logo-img {
  width: 170px;
  height: 70px;
  margin-bottom: 32px;

  @media screen and (min-width: 1440px) {
    width: 197px;
    height: 82px;
    margin-bottom: 40px;
  }
}

.footer_donation {
  width: 270px;
  max-width: 359px;
  min-height: 64px;
  background-color: $color-btn;
  border-radius: 8px;
  @include position-center-a;
  @include nunito-600-size-24;
  line-height: 1.37;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 300ms linear, color 300ms linear;
  cursor: pointer;

  &-catProfile {
    width: auto;

  }

  @media screen and (min-width: 768px) {
    border-radius: 12px;
  }
  @media (max-width: 375px) {
    min-width: 333px;
    width: 358px;
  }
  @media screen and (min-width: 1440px) {
    min-width: 270px;
    width: 100%;
  }

  &:hover {
    background-color: $color-card;
    color: $color-btn;
  }
}

.footer_nav {
  @include flex-column-a;
  gap: 15px;

  @media screen and (min-width: 768px) {
    margin: 0 61px;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0 69px 0 163px;
    gap: 25px;
  }
}

.footer_address {
  display: flex;
  @include flex-column-na;
  align-items: flex-start;
  @media screen and (max-width: 768px) {
    @include flex-column-a;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 69px;
  }
}

.contacts_list {
  @include flex-column-na;
  gap: 15px;
}

.contacts_link {
  @include position-center-na;
}

.contacts_title {
  margin-bottom: 15px;
  @include nunito-700-size-18;
  font-style: normal;
  line-height: 1.38;

  @media screen and (min-width: 1440px) {
    margin-bottom: 25px;
  }
}

.footer_link {
  @include nunito-700-size-18;
  font-style: normal;
  line-height: 1.38;
  text-decoration: underline;

  &:hover {
    color: $color-card;
    border-bottom-color: $color-card;
  }
}

.info_link {
  @include nunito-600-size-16;
  line-height: 1.37;
}

.contacts_icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.footer_documents-wrapper {
  @include flex-column-na;
  gap: 15px;

  @media screen and (min-width: 768px) {
    margin-right: 301px;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 96px;
    gap: 25px;
  }
}

.social_list {
  @include flex-only;
  gap: 20px;

  @media screen and (min-width: 1440px) {
    @include flex-column-a;
  }
}

.social_link {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  box-shadow: transparent;
  transition: box-shadow 300ms linear, scale 300ms linear;

  &:hover {
    box-shadow: 0 3.43693px 3.43693px #766e78;
    scale: 1.1;
  }
}

.footer_copyrights {
  @include nunito-400-size-14;
  margin-top: 60px;
  line-height: 1.47;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 47px;
  }
}
