@import "../../styles/_index.scss";

.footer {
  background-color: $color-footer-bg;
  color: $color-card-bg;
  padding: 40px 70px;
  @media screen and (max-width: 1250px) {
    padding: 40px 50px;
  }
}

.footer_container {
  justify-content: space-between;
  display: flex;
  @media screen and (max-width: 1250px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 855px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 390px) {
   flex-wrap: nowrap;
  }
}

.footer_info_wrapper {
  @include flex-only;
  gap: 32px;
  @media screen and (max-width: 855px) {
    flex-direction: column;
    align-items: center;
  }
  }

.wrapper {
  @include flex-column-a;
  @media screen and (min-width: 768px) {
    align-items: baseline;
  }
  @media screen and (max-width: 855px) {

    align-items: center;
  }
}

.footer_logo-link,
.footer_logo-img {
  width: 170px;
  height: 70px;
  margin-bottom: 32px;

  @media screen and (min-width: 1440px) {
    width: 197px;
    height: 82px;
    margin-bottom: 40px;
  }
}

.footer_donation {
  width: 270px;
  max-width: 359px;
  min-height: 64px;
  background-color: $color-btn;
  color: $color-white;
  border: none;
  border-radius: 8px;
  @include position-center-a;
  @include nunito-600-size-24;
  line-height: 1.37;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 300ms linear, color 300ms linear,
    box-shadow 300ms linear;
  cursor: pointer;
  outline: none;

  &-catProfile {
    max-width: 359px;
    min-height: 64px;
    background-color: $color-btn;
    border-radius: 8px;
    @include position-center-a;
    @include nunito-600-size-24;
    line-height: 1.37;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 300ms linear, color 300ms linear;
    cursor: pointer;
    @media (max-width: 375px) {
      min-width: 330px;
      width: 330px;
    }
  }

  @media (max-width: 375px) {
    min-width: 333px;
  }
  @media screen and (min-width: 1440px) {
    min-width: 270px;
    width: 100%;
  }

  &:hover {
    background-color: $color-card;
    color: $color-btn;
  }

  &:focus {
    background-color: $color-card;
    color: $color-btn;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: $color-card;
    color: $color-btn;
  }

  &:disabled {
    background-color: $color-border;
    color: $color-input-form;
  }
}

.footer_nav {
  @include flex-column-a;
  gap: 15px;

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0 69px 0 24px;
    gap: 25px;
  }
  @media screen and (max-width: 860px) {
    height: 100%;
    justify-content: flex-start;
    align-items: start;
    margin-top: 32px;
  }
}

.footer_address {
  @include flex-column-na;
  @media screen and (max-width: 855px) {
    flex-direction: column;
    align-items: center;
  }
}

.contacts_list {
  @include flex-column-na;
  gap: 15px;
}

.contacts_link {
  @include position-center-na;
}

.contacts_title {
  margin-bottom: 15px;
  @include nunito-700-size-18;
  font-style: normal;
  line-height: 1.38;

  @media screen and (min-width: 1440px) {
    margin-bottom: 25px;
  }
}

.footer_link {
  @include nunito-700-size-18;
  font-style: normal;
  line-height: 1.38;
  text-decoration: underline;

  &:hover {
    color: $color-card;
    border-bottom-color: $color-card;
  }
}

.info_link {
  @include nunito-600-size-16;
  line-height: 1.37;
}

.contacts_icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}



.footer_documents-wrapper {
  @include flex-column-na;
  gap: 15px;
  min-width: 270px;
  @media screen and (max-width: 1000px) {
    margin-top: 40px;
  }
  @media screen and (max-width: 855px) {
    flex-direction: column;
    align-items: center;

  }
}

.social_list {
  @include flex-column-a;
  gap: 20px;
  @media screen and (max-width: 1006px) {
    margin-top: 40px;
    flex-direction: row;
  }
}

.social_link {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  box-shadow: transparent;
  transition: box-shadow 300ms linear, scale 300ms linear;

  &:hover {
    box-shadow: 0 3.43693px 3.43693px #766e78;
    scale: 1.1;
  }
}

.footer_copyrights {
  @include nunito-400-size-14;
  margin-top: 60px;
  line-height: 1.47;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 47px;
  }
}
