@import "../../../../../styles/index";
.about_section {
  padding-top: 32px;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 31px;
  }
@media screen and (min-width: 1280px) {
  padding: 60px 50px 31px;
}
    }

.statistic_list {
  @include flex-column-a;
  gap: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1280px) {
    gap: 203px;
  }
}

.statistic_item {
  @include flex-column-a;
  width: 216px;
  gap: 24px;

  &:last-child {
    width: 225px;
  @media screen and (min-width: 768px) {
      padding-top: 30px;
    }
  }
}

.icon_wrapper {
  @include position-center-a;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $color-card;
}

.statistic_text {
  padding: 0px 13px;
}

.mob_width {
  @media screen and (max-width: 767.9px) {
    width: 225px;
  }
}
