@import "../../../styles/_index.scss";

.scrollBtn {
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 33px;
  font-size: 33px;
  background-color: $color-btn;
  color: $full-white;
  border: transparent;
  border-radius: 50%;
  box-shadow: 0 3.43693px 3.43693px $box-shadow;
  cursor: pointer;

  transition: background-color 300ms linear, transform 300ms linear;

  &:hover {
    background-color: $box-shadow;
    transform: scale(1.1);
  }
}
