@import "../../../styles/_index.scss";

.scrollBtn {
  position: fixed;
  @include position-center-a;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 33px;
  font-size: 33px;
  background-color: $color-btn;
  border: transparent;
  border-radius: 50%;
  box-shadow: 0 3.43693px 3.43693px $box-shadow;
  cursor: pointer;

  transition: background-color 300ms linear, transform 300ms linear;

  @media (max-width: 375px) {
    width: 25px;
    height: 60px;

  }
  &:hover {
    background-color: $box-shadow;
    transform: scale(1.1);
  }
}

.shift_icon {
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: $full-white;
  fill: $full-white;
}
