@import "../../styles/_index.scss";
.hero {
  background-color: $main-bg-color;
}

.main_bg {
  @include position-center;
  padding-top: 28px;
  width: 1282px;
  height: 552px;
  background-image: url("../../assets/main-cat-bg.jpg");
}

h1 {
  @include nunito-400-size-50;
  line-height: 1.36;
  text-align: center;
  color: $color-white;
  height: 68px;
}
