.spinner {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-icon {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
