@import "../../styles/_index.scss";

.profile {
  max-width: 1281px;
  margin: 0 auto;

  &__wrapper {
    margin-top: 89px;
    @include flex-only;
    justify-content: space-between;
    @media (max-width: 1245px) {
      margin: 30px auto auto;
      flex-direction: column;
      align-items: center;
    }


    &_images {
      width: 630px;
      height: auto;

      img{
        border-radius: 12px;
        cursor: pointer;
      }
      &_first{
        object-fit: cover;
        height: 630px;
        width: 100%;
      }

      @media (max-width: 1245px) {
        width: 580px;
      }

      @media (max-width: 1000px) {
        margin: 0 auto;
        padding-left: 15px;
        width: 720px;
      }
      @media (max-width: 740px) {
        width: 359px;
        height: auto;
        padding: 0;
      }

      @media (max-width: 395px) {
        width: 95%;
        padding: 0;
      }

      > .grouped-images {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 12px;
        > img {
          width: calc((100% - 24px) / 3);
          height: auto;
        }
      }
    }

    &_info {
      padding-top: 100px;
      max-width: 525px;
      margin-left: 25px;
      align-items: flex-start;
      @media (max-width: 1000px) {
        padding-top: 16px;
        margin: 0;
        @include flex-column-a;
      }

      .info__title {

        margin-bottom: 12px;
        text-align: center;
        line-height: 55px;
        @include nunito-700-size-40;
        @media (max-width: 740px) {
          margin-top: 32px;
          @include nunito-600-size-32;
          line-height: 44px;
        }
      }

      .info__wrapper {
        @media (max-width: 1000px) {
          margin-top: 32px;
        }
      }

      .info__subtitle {
        width: 100%;
        @media (max-width: 1000px) {
          margin-top: 36px;
          padding: 0 30px 0 30px;
        }

        h3 {
          margin: 5px 0 -3px 0;
          line-height: 33px;
          color: $color-blue;
          @include nunito-600-size-24;
          @media (max-width: 1000px) {
            @include nunito-400-size-20;
            line-height: 30px;
          }
          @media (max-width: 767px) {
            text-align: left;
            transform: translateX(0);
          }

        }
      }

      .info__desc {
        @include nunito-400-size-20;
        line-height: 30px;
        width: 520px;
        color: $color-card-text;
        @media (max-width: 1000px) {
          width: auto;
          padding: 0 30px 0 30px;
        }
      }

      .info__help {
        margin-top: 35px;
        width: 332px;
        height: 64px;
        background: $color-btn;
        @include nunito-600-size-24;
        line-height: 35px;
        color: $color-white;
        border-radius: 8px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.1s all;

        &:hover {
          background: $color-btn-hover;
        }
      }

      @media (max-width: 767px) {
        margin: 0 auto;
        @include flex-column-a;
      }
    }
  }

  &__others {
    &_title {
      margin: 100px 0 50px 0;
      text-align: center;
      @include nunito-700-size-40;
      color: $color-blue;
      line-height: 55px;
    }
  }

  &__all {
    @include flex-column-a;
    @include nunito-600-size-24;
    line-height: 33px;
    text-transform: uppercase;
    color: $color-card-text;
    margin: 32px auto 108px;
    width: 235px;
    border-bottom: 1.5px solid $color-card-text;
    text-align: center;
    cursor: pointer;
  }
}


