@import "../../styles/_index.scss";

.title_container {
@include position-center-a;
max-width: 1440px;
height: 240px;
margin: 0 auto;
background-color: $color-card;
  @media (max-width: 768px) {
    height: 148px;
  }
  @media (max-width: 400px) {
    height: 80px;
  }
}

.page_title {
@include position-center-a;
@include nunito-700-size-50;
line-height: 1.36;
color: $color-blue;
  @media (max-width: 400px) {
   @include nunito-600-size-32;
  }

}