@import "../../styles/_index.scss";

.title_container {
@include position-center-a;
max-width: 1440px;
height: 240px;
margin: 0 auto;
background-color: $color-card;
}

.page_title {
@include position-center-a;
@include nunito-700-size-50;
line-height: 1.36;
color: $color-blue;
}