@import "../../styles/_index.scss";

.title_container {
  height: 80px;
  width: 100%;
  @include position-center-a;
  margin: 0 auto;
  background-color: $color-card;

  @media screen and (min-width: 768px) {
    height: 120px;
  }

  @media screen and (min-width: 1280px) {
    height: 120px;
    width: 100%;
  }
}

.page_title {
  @include position-center-a;
  @include nunito-600-size-32;
  line-height: 1.4;
  color: $color-blue;

  @media screen and (min-width: 768px) {
    @include nunito-700-size-50;
  }
    @media screen and (min-width: 1280px) {
      @include nunito-700-size-44;
    }
}
