@import "../../styles/_index.scss";

.support_card {
  background: $color-card-bg;
  border: 2px solid $color-card;
  border-radius: 12px;
  width: 413px;
  max-height: 466px;
  @include flex-column-a;
  &-wrapper {
    color: $color-card-text;
    height: 166px;
    text-align: center;
    width: 100%;
    background: $color-card;
    border-radius: 12px;
  }
  &-icon {
    margin: 32px;
    width: 226px;
    height: 226px;
  }
  &-header {
    padding-top: 16px;
    padding-bottom: 8px;
    @include nunito-600-size-32;
  }
  &-text {
    @include nunito-400-size-20;
  }
}