@import '../../../../styles/_index.scss';

.alert-success,
.alert-error {
	@include position-center-a;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

.reports{
	&__title{
		color: $color-card-text;
		@include nunito-600-size-32;
		line-height: 44px;
	}
	&__form{
		@include flex-only;
		justify-content: space-between;
		.icons-group{
			@include flex-only;
			align-items: center;
			gap: 24px;
			cursor: pointer;
		}
	}
	&__wrapper{
		display: flex;
		gap: 16px;
		button{

			background: $color-btn;
			color: $full-white;
			width: 196px;
			height: 40px;
			border-radius: 10px;
			transition: all 0.3s;
			cursor: pointer;
			@include nunito-400-size-16;
			&:hover {
				background: $color-btn-hover;
			}
		}
	}
	&__selected{
		@include admin-input-style;
		@include admin-input-placeholder;
		height: 40px;
		cursor:pointer;
		justify-content: space-between;
		background: #ffffff;
	}
	input{
		display: none;
	}
}