@import "../../../../styles/_index.scss";

.viewAll {
  height: 100%;

  &__icons {
    margin-right: 10px;
    gap: 20px;
    @include flex-column-a;
  }

  &__trash {
    z-index: 1;
    padding-right: 10px;
  }
}