@import "../../../../styles/_index.scss";

.viewAll {
  min-height: 100vh;
  &__title{
    text-align: center;
    @include nunito-600-size-32;
    color: $color-blue;
    line-height: 44px;

  }
  &__icons {
    margin-right: 10px;
    gap: 40px;
    @include flex-column-a;
  }

  &__trash {
    z-index: 1;
  }
}
