@import "../../../styles/_index.scss";

.donate-slider {
  &_wrap {
    @include flex-column-na;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &_title {
    @include nunito-600-size-24;
    line-height: 33px;
    color: $color-blue;
    margin-bottom: 24px;
    text-align: center;
  }
}

.donate-form {
  padding: 0 20px;
  &_box {
    @include flex-only;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 22px;

    &-count {
      width: 100px;
      height: 42px;

      input[type="radio"]:checked + label {
        border: 1px solid #aeaeae;
        background: #fcfcff;
        & span {
          color: #888888;
        }
      }
    }
  }

  &_number {
    @include nunito-400-size-20;
    line-height: 30px;
    color: $color-btn;
  }

  &_radio-label {
    display: block;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
      background: #dfd2d6;
    }
    &:active {
      background: #d0bec4;
      box-shadow: none;
    }
  }

  &_radio-label,
  &_input-free {
    width: 100%;
    height: 100%;
    border: 1px solid $color-btn;
    border-radius: 8px;
  }

  &_input-free {
    padding: 6px 12px;

    &::placeholder {
      @include nunito-400-size-20;
      line-height: 30px;
      color: $color-border;
    }
  }

  &_input-count {
    width: 216px;
    height: 42px;
  }

  &_btn {
    width: 100%;
    @include nunito-600-size-24;
    line-height: 35px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-btn;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
}
