@import "../../styles/_index.scss";

.navbar {
  max-width: 1282px;
  padding-top: 9px;
  border-top: 1px solid $color-border;
  width: 100%;
  margin: 9px 80px;
  display: flex;
  justify-content: space-around;
  gap: 390px;
  align-items: center;

  .navbar_wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .navbar_icon {
    width: 197px;
    height: 82px;
  }

  .navbar_links {
    a {
      white-space: nowrap;
      text-decoration: none;
    }
  }

  .links {
    @include nunito-700-size-18;
    @include flex-only;
    gap: 24px;

    a {
      color: $color-blue;
      border-bottom: 1px solid transparent;
      transition: border 0.3s ease;

      &:hover {
        color: $color-btn;
        border-bottom: 1px solid $color-blue;;
      }
    }

  }

  #donation {
    margin-left: 62px;
  }

  .donation {
    background-color: $color-btn;
    border-radius: 12px;
    @include position-center-a;
    gap: 8px;
    transition: background-color 300ms linear;

    a {
      @include nunito-400-size-24;
      padding: 16px 40px;
      line-height: 33px;
      text-transform: uppercase;
      color: $full-white;
      transition: color 300ms linear;

      &:hover {
        color: $color-btn;
      }
    }

    &:hover {
      background-color: $color-btn-hover;
    }
  }
}
