//default colors
$color-blue: #3D4756;
$color-white: #FEFE;
$color-border: #EDEDED;
$full-white: #FFFFFF;

//btn-header
$color-btn: #4B3542;

//card
$color-card: #D0BEC4;
$color-card-bg: #FCFCFF;
$color-card-text: #4F5A69;
$color-border-card: #928F8F;

//subscribe-form
$color-subscribe-header: #333333;
$color-subscribe-text: #808080;
$color-subscribe-btn: #006B5F;
$color-placeholder: #B3B3B3;