//default colors
$color-hover-navbar: #857a7c;
$color-blue: #3d4756;
$color-white: #fcfcff;
$color-border: #aeaeae;
$full-white: #ffffff;
$color-bg-about: #f5f5f5;

//btn-header
$color-btn: #4b3542;

//card
$color-card: #d0bec4;
$color-card-bg: #fcfcff;
$color-card-text: #4f5a69;
$color-border-card: #928f8f;

//subscribe-form
$color-subscribe-header: #333333;
$color-subscribe-text: #808080;
$color-subscribe-btn: #4b3542;
$color-placeholder: #ffffff;
$color-input-form: #888888;
$color-input-bg: #dfd2d6;

// footer
$color-footer-bg: #515151;
$color-btn-hover: #766e78;

//admin-dashboard
$color-link: #7879f1;
$main-bg-color: #f2f2f2;
$box-shadow: #766e78;
