@mixin position-center { // without alignment
  display: flex;
  justify-content: center;
}

@mixin position-center-na { // not-aligned ( justified ) todo need to refactor name
  display: flex;
  align-items: center;
}

@mixin position-center-a { //aligned
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-only { // only flex
  display: flex;
}

@mixin flex-column-a { // flex-column aligned
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex-column-na { // flex-column not-aligned
  display: flex;
  flex-direction: column;
}

@mixin profile-info-style {
  color:$color-card-text;
  border: 1px solid #4B3542;
  border-radius: 8px;
  width: 197px;
  height: 42px;
  padding: 6px 0 6px 8px;
}