@import "../../../../styles/_index.scss";
.about_section {
  padding-top: 31px;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 31px;
  }
}

.statistic_list {
  @include flex-column-na;
  padding: 8px 67px 0px 67px;
  gap: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding: 8px 0px 0px 0px;
  }

  @media screen and (min-width: 1440px) {
    gap: 203px;
  }
}

.statistic_item {
  @include flex-column-a;
  width: 216px;
  gap: 32px;

  &:last-child {
    width: 225px;
  }
}

.icon_wrapper {
  @include position-center-a;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $color-card;
}

.statistic_text {
  padding: 0px 13px;
}

.mob_width {
  @media screen and (max-width: 767.9px) {
    width: 225px;
  }
}
